article>div:nth-of-type(1){float: left;margin-left: 200px;width: 400px;}
article>div:nth-of-type(1)>img{width: 380px;height: 380px;}
article>div:nth-of-type(2){float: left;margin-left: 20px;width: 700px;}
article>div:nth-of-type(2)>ul>li{margin-top: 10px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(1){font-weight: bold;font-size: 20px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(2)>ul{display: flex;justify-content: space-between;}
article>div:nth-of-type(2)>ul>li:nth-of-type(2) li:nth-of-type(1){color: #CCCCCC;font-size: 14px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(2) li:nth-of-type(1)>span{color: #B1191A;font-size: 20px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(2) li:nth-of-type(2){color: #CCCCCC;font-size: 14px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(2) li:nth-of-type(2)>span{color: blue;font-size: 14px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(3){color: #CCCCCC;font-size: 14px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(3) span:nth-of-type(1){color: #B1191A;margin-right: 10px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(3) span:nth-of-type(2){color: #999999;margin-right: 10px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(3) span:nth-of-type(3){color: #999999;}
article>div:nth-of-type(2)>ul>li:nth-of-type(4)>span:nth-of-type(1){color: #B1191A;margin-left: 65px;font-size: 14px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(4){color: #999999;font-size: 14px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(5){color: #999999;font-size: 16px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(6){color: #CCCCCC;font-size: 14px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(6)>span{color: #B1191A;}
article>div:nth-of-type(2)>ul>li:nth-of-type(7){color: #CCCCCC;font-size: 14px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(7)>span{color: blue;font-size: 14px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(8){color: #CCCCCC;font-size: 14px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(8)>span{color: #999999;font-size: 14px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(9){color: #999999;font-size: 16px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(9)>span{color: #B1191A;font-size: 16px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(10){color: #CCCCCC;font-size: 14px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(10)>span{color: #999999;font-size: 14px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(11){color: #CCCCCC;font-size: 14px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(11)>span{color: blue;font-size: 14px;}
article>div:nth-of-type(2)>ul>li:nth-of-type(12)>a{display: block;width: 150px;height: 30px;background-color: #B1191A;color: #FFFFFF;text-align: center;padding-top: 5px;margin-left: 65px;margin-top: 10px;}









