object{width: 100%;}
object:last-of-type{height: 400px;}
/* ok */
.ok{background-color: #F5F5F5;margin-top: -101px;}
.ok>p{font-size: 24px;color: #71B247;margin-left: 60px;padding-top: 10px;}
.ok ul{width: 1350px;display: flex;justify-content: space-between;margin-left: 60px;margin-top: 20px;}
.ok ul li img{float: left;margin-bottom: 40px;}
.ok ul li p{float: left;margin-left: 10px;margin-bottom: 10px;}
.ok ul li p:nth-of-type(1){font-size: 14px;color: #353535;}
.ok ul li p:nth-of-type(2){font-size: 10px;color: #A7A7A7;}
.ok ul li a{display: block;padding: 10px;float: left;margin-top: 20px;}
.ok ul li a:nth-of-type(1){color: #E4393C;background-color: #FFFFFF;}
.ok ul li a:nth-of-type(1):hover{border: 1px solid #E4393C;}
.ok ul li a:nth-of-type(2){color: #FFFFFF;background-color: #E4393C;margin-left: 20px;}
/* other */
.other>p{font-size: 14px;font-weight: bold;color: #686868;margin-left: 60px;margin-top: 40px;margin-bottom: 50px;}
.other>div{display: grid;grid-template-columns: repeat(4,350px);grid-template-rows: repeat(2,130px);gap:10px;margin-left: 60px;margin-bottom: 40px;}
.other>div>div>img{height: 125px;float: left;margin-right: 10px;}
.other>div>div>p:nth-of-type(1){font-size: 14px;color: #353535;margin-bottom: 10px;}
.other>div>div>p:nth-of-type(2){font-size: 14px;font-weight: bold;color: #E4393C;margin-bottom: 20px;}
.other>div>div>a{color: #E4393C;font-size: 14px;border: 1px solid #E4393C;padding: 5px 10px;animation: add 1s linear infinite;}
@keyframes add{
    0%   {color: #E4393C;}
    50%  {color: dodgerblue;}
    100% {color: #E4393C;}
}