body{background-color: #F6F6F6;}
/* head */
object:nth-of-type(1){width: 100%;}
/* nav-head */
.nav{display: flex;justify-content: center;margin-top: -30px;margin-bottom: 20px;}
.nav ul{width: 40%;display: flex;justify-content: space-between;}
.nav li a{font-weight: bold;color: #5A5A5A}
.nav li a:hover{color: #E4393C;}
/* nav-left/ad */
.ad{
    display: grid;grid-template-columns: repeat(5,270px);
    grid-template-rows: repeat(3,200px);justify-content: center;gap: 20px 20px;}
.ad>div:nth-child(1){grid-row: 1/4;background-color: #6E6568;}
.ad>div:nth-child(1) ul{margin-top: 10px;}
.ad>div:nth-child(1) li{padding: 10px 0px 10px 20px;color: #FFFFFF;font-size: 18px;}
.ad>div:nth-child(1) li:hover{background-color: #999395;}
.ad>div:nth-child(2){grid-row: 1/3;grid-column: 2/6;animation: ad 25s linear infinite;background-size: 1140px 420px;}
@keyframes ad{
    0%   {background-image: url(../img/1.jpg);}
    20%  {background-image: url(../img/2.jpg);}
    40%  {background-image: url(../img/3.jpg);}
    60%  {background-image: url(../img/4.jpg);}
    80%  {background-image: url(../img/5.jpg);}
    100% {background-image: url(../img/1.jpg);}
}
.ad>div:nth-child(3){
    grid-row: 3/4;grid-column: 2/4;
    background-image: url(../img/nav_showimg1.jpg);background-size: 560px 200px;}
.ad>div:nth-child(4){
    grid-row: 3/4;grid-column: 4/6;
    background-image: url(../img/nav_showimg2.jpg);background-size: 560px 200px;}
/* time */
.time{width: 1430px;margin: 0 auto;}
.time>div:nth-of-type(1){height: 50px;background-color: #E01222;margin-top: 20px;}
#clock{
    animation: clock 0.5s linear infinite;width: 40px;height: 40px;
    float: left;background-size: 40px 40px;margin-left: 10px;margin-top: 3px;}
@keyframes clock{
    0%   {background-image: url(../img/clock.png);}
    25%  {background-image: url(../img/clock.png);transform: rotate(30deg);}
    50%  {background-image: url(../img/clock.png);}
    75%  {background-image: url(../img/clock.png);transform: rotate(-30deg);}
    100%  {background-image: url(../img/clock.png);}
}
.time>div:nth-of-type(1)>ul{display: flex;justify-content: space-between;color: #FFFFFF;}
.time>div:nth-of-type(1)>ul>li:nth-of-type(1)>span:nth-of-type(1){
    font-size: 22px;margin-top: 10px;margin-left: 20px;
    display: block;float: left;}
.time>div:nth-of-type(1)>ul>li:nth-of-type(1)>span:nth-of-type(2){
    font-size: 14px;margin-top: 18px;display: block;float: left;margin-left: 5px;
}
.time>div:nth-of-type(1)>ul>li:nth-of-type(2)>span:nth-of-type(1),
.time>div:nth-of-type(1)>ul>li:nth-of-type(2)>span:nth-of-type(7){
    font-size: 14px;margin-top: 18px;display: block;float: left;margin-right: 5px;}
.time>div:nth-of-type(1)>ul>li:nth-of-type(2)>span:nth-of-type(7){
    margin-right: 20px;}
.time>div:nth-of-type(1)>ul>li:nth-of-type(2)>span:nth-of-type(2),
.time>div:nth-of-type(1)>ul>li:nth-of-type(2)>span:nth-of-type(4),
.time>div:nth-of-type(1)>ul>li:nth-of-type(2)>span:nth-of-type(6){
    float: left;display: block;font-size: 24px;font-weight: bold;
    width: 40px;height: 40px;background-color: #440106;
    color: #E01222;border-radius: 5px;text-align: center;
    margin-top: 5px;}
.time>div:nth-of-type(1)>ul>li:nth-of-type(2)>span:nth-of-type(3),
.time>div:nth-of-type(1)>ul>li:nth-of-type(2)>span:nth-of-type(5){
    float: left;display: block;font-size: 24px;font-weight: bold;
    color: #440106;text-align: center;margin-top: 5px;}
.time>div:nth-of-type(2){width: 1430px;margin: 0 auto;}
.time>div:nth-of-type(2)>div{
    width: 270px;height: 300px;background-color: #FFFFFF;
    float: left;margin-left: 13px;margin-top: 15px;margin-bottom: 20px;
    border: 1px solid #EAEAEA;}
.time>div:nth-of-type(2)>div>img{margin-left: 70px;margin-top: 10px;transition: transform 1s;}
.time>div:nth-of-type(2)>div>img:hover{transform: translateY(-10px);}
.time>div:nth-of-type(2)>div>hr{border: 0;border-top: 1px solid #CCCCCC;margin: 20px 20px 10px 20px;}
.time>div:nth-of-type(2)>div>p{margin-left: 20px;font-size: 18px;color: #04988A;}
.time>div:nth-of-type(2)>div>span:nth-of-type(1){
    margin-top: 30px;margin-left: 20px;font-size: 18px;
    font-weight: bold;color: #AA4644;display: block;float: left;}
.time>div:nth-of-type(2)>div>span:nth-of-type(2){
    margin-top: 16px;font-size: 32px;
    font-weight: bold;color: #AA4644;display: block;float: left;}
.time>div:nth-of-type(2)>div>span:nth-of-type(3){
    margin-top: 30px;font-size: 18px;text-decoration-line: line-through;
    color: #04988A;display: block;float: left;margin-left: 5px;}
/* it */
.it{width: 1430px;margin: 0 auto;}
.it>div:nth-of-type(1){height: 50px;background-color: #4488A7;margin-top: 350px;}
.it>div:nth-of-type(1)>ul{display: flex;justify-content: space-between;}
.it>div:nth-of-type(1)>ul>li:nth-of-type(2)>ul{display: flex;justify-content: space-between;}
.it>div:nth-of-type(1)>ul>li:nth-of-type(1){
    font-size: 24px;font-weight: 500;
    color: #FFFFFF;margin-top: 10px;margin-left: 20px;}
.it>div:nth-of-type(1)>ul>li:nth-of-type(2)>ul>li{margin-right: 20px;margin-top: 10px;display: block;background-color: #6DA6BE;padding: 5px;}
.it>div:nth-of-type(1)>ul>li:nth-of-type(2)>ul>li:hover{border: 1px solid #FFFFFF;}
.it>div:nth-of-type(1)>ul>li:nth-of-type(2)>ul>li a{color: #FFFFFF;}
.it>div:nth-of-type(2)>ul{width: 1430px;margin: 0 auto;height: 500px;background-color: #FFFFFF;display: flex;justify-content: space-between;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(1){border-right: 1px solid #CCCCCC;display: block;width: 700px;height: 480px;margin:10px 0 10px 10px;padding-right: 10px;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(2){display: block;width: 700px;height: 480px;margin: 10px;}
.it>div:nth-of-type(2)>ul>li>div:nth-of-type(1){display: grid;grid-template-columns: repeat(3,230px);grid-template-rows: repeat(2,150px);gap: 5px;}
.it>div:nth-of-type(2)>ul>li>div:nth-of-type(1)>div:nth-of-type(1){grid-row: 1/3;background-image: url(../img/item-computer-1.jpg);background-size: 230px 305px;transition: transform 1s;}
.it>div:nth-of-type(2)>ul>li>div:nth-of-type(1)>div:nth-of-type(1):hover{transform: translateX(-5px);}
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(1){grid-row: 1/3;background-image: url(../img/item-computer-2-1.jpg);}
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2)>div,
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(3)>div,
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(4)>div,
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(5)>div{float: left;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2)>div>p,
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(3)>div>p,
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(4)>div>p,
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(5)>div>p{width: 50px;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2)>img,
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(3)>img,
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(4)>img,
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(5)>img{float: left;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div>div{margin-left: 10px;margin-top: 10px;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div>div>p{color: #4488A7;margin-top: 10px;line-height: 1.5;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div>img{margin-top: 10px;margin-left: 30px;transition: transform 1s;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div>img:hover{transform: translateX(-5px);}
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div>div>span{font-weight: bold;color: #4488A7;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(4),
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(5){border-top: 1px solid #CCCCCC;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2),
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(4){border-right: 1px solid #CCCCCC;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(2) img{float: left;margin: 10px 10px;width: 210px;height: 150px;transition: transform 1s;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(2) img:hover{transform: translateX(-5px);}
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>div,
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(3)>div,
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(4)>div,
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(5)>div{float: left;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>div>p,
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(3)>div>p,
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(4)>div>p,
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(5)>div>p{width: 50px;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>img,
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(3)>img,
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(4)>img,
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(5)>img{float: left;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div>div{margin-left: 10px;margin-top: 10px;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div>div>p{color: #4488A7;margin-top: 10px;line-height: 1.5;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div>img{margin-top: 10px;margin-left: 30px;transition: transform 1s;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div>img:hover{transform: translateX(-5px);}
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div>div>span{font-weight: bold;color: #4488A7;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(4),
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(5){border-top: 1px solid #CCCCCC;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2),
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(4){border-right: 1px solid #CCCCCC;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(2) img{float: left;margin: 10px 10px;width: 210px;height: 150px;transition: transform 1s;}
.it>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(2) img:hover{transform: translateX(-5px);}
/* eat */
.eat{width: 1430px;margin: 0 auto;}
.eat>div:nth-of-type(1){height: 50px;background-color: #ECB226;margin-top: 50px;}
.eat>div:nth-of-type(1)>ul{display: flex;justify-content: space-between;}
.eat>div:nth-of-type(1)>ul>li:nth-of-type(2)>ul{display: flex;justify-content: space-between;}
.eat>div:nth-of-type(1)>ul>li:nth-of-type(1){
    font-size: 24px;font-weight: 500;
    color: #FFFFFF;margin-top: 10px;margin-left: 20px;}
.eat>div:nth-of-type(1)>ul>li:nth-of-type(2)>ul>li{margin-right: 20px;margin-top: 10px;display: block;background-color: #EEB955;padding: 5px;}
.eat>div:nth-of-type(1)>ul>li:nth-of-type(2)>ul>li:hover{border: 1px solid #FFFFFF;}
.eat>div:nth-of-type(1)>ul>li:nth-of-type(2)>ul>li a{color: #FFFFFF;}
.eat>div:nth-of-type(2)>ul{width: 1430px;margin: 0 auto;height: 500px;background-color: #FFFFFF;display: flex;justify-content: space-between;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1){border-right: 1px solid #CCCCCC;display: block;width: 700px;height: 480px;margin:10px 0 10px 10px;padding-right: 10px;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2){display: block;width: 700px;height: 480px;margin: 10px;}
.eat>div:nth-of-type(2)>ul>li>div:nth-of-type(1){display: grid;grid-template-columns: repeat(3,230px);grid-template-rows: repeat(2,150px);gap: 5px;}
.eat>div:nth-of-type(2)>ul>li>div:nth-of-type(1)>div:nth-of-type(1){grid-row: 1/3;background-image: url(../img/item-eat-1-1.jpg);background-size: 230px 305px;transition: transform 1s;}
.eat>div:nth-of-type(2)>ul>li>div:nth-of-type(1)>div:nth-of-type(1):hover{transform: translateX(-5px);}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(1){grid-row: 1/3;background-image: url(../img/item-eat-2-1.jpg);}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2)>div,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(3)>div,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(4)>div,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(5)>div{float: left;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2)>div>p,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(3)>div>p,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(4)>div>p,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(5)>div>p{width: 50px;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2)>img,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(3)>img,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(4)>img,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(5)>img{float: left;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div>div{margin-left: 10px;margin-top: 10px;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div>div>p{color: #4488A7;margin-top: 10px;line-height: 1.5;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div>img{margin-top: 10px;margin-left: 30px;transition: transform 1s;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div>img:hover{transform: translateX(-5px);}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div>div>span{font-weight: bold;color: #ECB226;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(4),
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(5){border-top: 1px solid #CCCCCC;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2),
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(4){border-right: 1px solid #CCCCCC;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(2) img{float: left;margin: 10px 10px;width: 210px;height: 150px;transition: transform 1s;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(1)>div:nth-of-type(2) img:hover{transform: translateX(-5px);}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>div,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(3)>div,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(4)>div,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(5)>div{float: left;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>div>p,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(3)>div>p,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(4)>div>p,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(5)>div>p{width: 50px;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>img,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(3)>img,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(4)>img,
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(5)>img{float: left;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div>div{margin-left: 10px;margin-top: 10px;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div>div>p{color: #4488A7;margin-top: 10px;line-height: 1.5;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div>img{margin-top: 10px;margin-left: 30px;transition: transform 1s;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div>img:hover{transform: translateX(-5px);}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div>div>span{font-weight: bold;color: #ECB226;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(4),
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(5){border-top: 1px solid #CCCCCC;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2),
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(4){border-right: 1px solid #CCCCCC;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(2) img{float: left;margin: 10px 10px;width: 210px;height: 150px;transition: transform 1s;}
.eat>div:nth-of-type(2)>ul>li:nth-of-type(2)>div:nth-of-type(2) img:hover{transform: translateX(-5px);}




/* foot */
object:nth-of-type(2){width: 100%;height: 400px;}

