object{width: 100%;}
object:last-of-type{height: 400px;}
/* menu */
.a1{font-size: 14px;margin-left: 60px;margin-top: -90px;color: #686868;margin-bottom: 10px;}
.a1 span{font-weight: bold;}
body>ul:nth-of-type(1),body>ul:nth-of-type(2),body>ul:nth-of-type(3),body>ul:nth-of-type(4){
    margin-left: 60px;display: flex;justify-content: start;width: 1380px;
    border-top: 1px solid #999999;border-bottom: 1px solid #999999;}
body>ul>li{padding: 12px;}
body>ul>li a{color: #2270AD;}
body>ul>li:nth-of-type(1){width: 100px;font-weight: bold;color: #686868;background-color: #CCCCCC;}
/* side */
body>div:nth-of-type(1){width: 180px;border: 1px solid #999999;float: left;margin-left: 60px;margin-top: 15px;padding: 10px;}
body>div:nth-of-type(1)>ul:nth-of-type(1){display: flex;justify-content: space-between;margin-bottom: 20px;}
body>div:nth-of-type(1)>ul:nth-of-type(1)>li:nth-of-type(1){font-size: 20px;color: #B1191A;}
body>div:nth-of-type(1)>ul:nth-of-type(1)>li:nth-of-type(2){font-size: 12px;color: #CCCCCC;margin-top: 8px;}
body>div:nth-of-type(1)>div>img{margin-left: 10px;margin-top: 10px;}
body>div:nth-of-type(1)>div>p:nth-of-type(1){font-weight: bold;font-size: 20px;color: #B1191A;}
body>div:nth-of-type(1)>div>p:nth-of-type(2){font-size: 12px;color: #686868;margin-bottom: 10px;}
body>div:nth-of-type(1)>div>p:nth-of-type(3){font-size: 12px;color: #686868;}
body>div:nth-of-type(1)>div>p:nth-of-type(3)>span{color: #2270AD;}
/* content */
body>div:nth-of-type(2){margin-left: 15px;width: 1165px;float: left;}
body>div:nth-of-type(2)>ul:first-of-type{display: flex;justify-content: start;margin-top: 15px;border: 1px solid #999999;padding: 5px 30px;background-color: #CCCCCC;}
body>div:nth-of-type(2)>ul:first-of-type>li{margin-left: 10px;border-top: 1px solid #999999;border-bottom: 1px solid #999999;background-color: #FFFFFF;}
body>div:nth-of-type(2)>ul:first-of-type>li:first-of-type{color: #FFFFFF;background-color: #E4393C;}
body>div:nth-of-type(2)>div{display: grid;grid-template-columns: repeat(4,280px);grid-template-rows: repeat(4,380px);gap: 15px;margin-top: 30px;}
body>div:nth-of-type(2)>div div{padding: 10px;}
body>div:nth-of-type(2)>div div:hover{border: 1px solid #CCCCCC;box-shadow: 1px 1px 5px #CCCCCC;}
body>div:nth-of-type(2)>div div p:nth-of-type(1){font-weight: bold;font-size: 28px;color: #B1191A;}
body>div:nth-of-type(2)>div div p:nth-of-type(2){font-size: 12px;color: #686868;margin-bottom: 10px;}
body>div:nth-of-type(2)>div div p:nth-of-type(3){font-size: 12px;color: #2CA89C;}
body>div:nth-of-type(2)>div div p:nth-of-type(3)>span{color: #2270AD;font-weight: bold;}
body>div:nth-of-type(2)>div div p:nth-of-type(4){font-size: 12px;color: #E4393C;margin-top: 15px;}
#page{display: flex;justify-content: center;border: 0;margin-left: 270px;margin-bottom: 50px;margin-top: 30px;}
#page>li{padding: 5px 10px;border: 1px solid #CCCCCC;}
#page>li:hover{background-color: #CCCCCC;}
#page>li a{color: #337AB7;}
#page>li:nth-of-type(2){background-color: #337AB7;color: #FFFFFF;}
#page>li:nth-of-type(2) a{color: #FFFFFF;}
